<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ad.dao.AdfuserDao">
	<update id="updateIss" parameterType="ad.po.User">
		update user set iss=#{iss} where username=#{username}
	</update>
	
	<update id="changePassword" parameterType="String">
		update user set password='123456' where username=#{username}
	</update>
	
	<select id="getUserByKey" parameterType="String" resultType="ad.po.User">
		<bind name="key1" value="'%'+keyword+'%'"/>
		select id,username,password,sal,lsal,zdate,ddate,ip,iss from user 
		where concat(id,username,password,sal,lsal,zdate,ddate,ip,iss) like #{key1}
	</select>
	
	<select id="getSalAndLsal" resultType="double">
		select sum(sal)+sum(lsal) from user
	</select>
	
	<select id="getUserByUsername" parameterType="String" resultType="ad.po.User">
		select * from user where username=#{username}
	</select>
</mapper>