<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ad.dao.AduserDao">
	<select id="selectByadusername" parameterType="String" resultType="ad.po.Aduser">
		select id,adusername,adpassword from aduser where adusername=#{adusername}
	</select>
	
	<update id="updateAdp" parameterType="ad.po.Aduser">
		update aduser set adpassword=#{adpassword} where adusername=#{adusername}
	</update>
	
</mapper>
