<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ChongDao">
	<select id="getChongByUsername" parameterType="String" resultType="com.po.Chong">
		select * from chong where username=#{username}
	</select>
</mapper>
