<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 扫描包 -->
	<!-- 前台 -->
	<context:component-scan base-package="com"/>
	<!-- 后台 -->
	<context:component-scan base-package="ad"/>
	
	
	<!-- 对静态资源进行映射 -->
	<mvc:annotation-driven/>
	<!-- 前台 -->
	<mvc:resources location="/WEB-INF/order/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/order/image/" mapping="/image/**"></mvc:resources>
	<!-- 后台 -->
	<mvc:resources location="/WEB-INF/admin/js/" mapping="/adjs/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/admin/image/" mapping="/adimage/**"></mvc:resources>
	<!-- 前后台 -->
	<mvc:resources location="/WEB-INF/upload/" mapping="/img/**"></mvc:resources>
	
	<!-- 配置视图解析器 -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=""/>
	</bean>
	
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<!-- 前台 -->
		<!-- 身份拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/*"/>
			<bean class="com.util.interceptor.IdentityInterceptor"/>
		</mvc:interceptor>
		
		<!-- 后台 -->
		<mvc:interceptor>
			<!-- 身份拦截器 -->
			<mvc:mapping path="/a/*"/>
			<bean class="ad.util.interceptor.AdIdentityInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

	
	<!-- 配置文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8"
		p:maxUploadSize="5400000000"
		p:uploadTempDir="/WEB-INF/upload/temp">
	</bean>

	<!-- 异常处理 
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error/error1.jsp"></property>
		<property name="exceptionAttribute" value="ex"></property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error/error1.jsp</prop>
			</props>
		</property>
	</bean>-->
</beans>