<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ad.dao.AdChongDao">
	
	
	
	<select id="selectByKeyCount" parameterType="ad.util.pojo.AdChongPage" resultType="int">
 		<bind name="key1" value="'%'+keyword+'%'"/>
 		select count(*) from chong where CONCAT(username,sal,fsal,asal,date) like #{key1}
 	</select>
	
 	<select id="selectBykey" parameterType="String" resultType="ad.po.Chong">
 		<bind name="key2" value="'%'+keyword+'%'"/>
 		select id,username,sal,fsal,asal,date from chong where CONCAT(username,sal,fsal,asal,date) like #{key2} order by date desc
 	</select>
 	
 	
 	
</mapper>
